{% load wireview %}

<div {% tag_header %}>
  <b data-testid="host-n">{{ this.n }}</b>
  <button type="button" data-testid="host-bump" {% on "click" "bump" %}>bump</button>
  {% component_block 'SlotProbeFrame' id="frame" %}
  {% fill body %}<span data-testid="frame-slot">FRAME-SLOT {{ this.n }}</span>{% live_component 'SlotProbeLeaf' id="leaf" %}{% endfill %}
{% endcomponent %}
{% live_component_block 'SlotProbeBox' id="box" %}
{% fill body %}<span data-testid="box-slot">BOX-SLOT {{ this.n }}</span>{% live_component 'SlotProbeLeaf' id="boxleaf" %}{% endfill %}
{% endlive_component %}
</div>
