{% load wireview %}

<div {% tag_header %}>
  {% if show %}
    {% component 'HookProbeRooted' id="rooted" reach=reach %}
  {% endif %}
  <button data-testid="take-away" {% on "click" "take_away" %}>take away</button>
  <button data-testid="bring-back" {% on "click" "bring_back" %}>bring back</button>
  {% if sprouted %}
    <span wire-hook="ProbeLog" data-who="shelf-new">new</span>
    {% live_component 'HookProbeSprout' id="sprout" lit=lit %}
  {% endif %}
  <button data-testid="sprout" {% on "click" "sprout" %}>sprout</button>
  {% if grafted %}
    {% live_component 'HookProbeGraft' id="graft" %}
  {% endif %}
  <button data-testid="graft" {% on "click" "graft" %}>graft</button>
  <button data-testid="light" {% on "click" "light" %}>light</button>
  <button data-testid="reach-out" {% on "click" "reach_out" %}>reach out</button>
  <span data-testid="stolen">{{ stolen }}</span>
</div>
