{% load wireview %}

<div {% tag_header %}>
  <button data-testid="ping" {% on "click" "ping" %}>ping</button>
  <span data-testid="pings">{{ this.pings }}</span>
  <input data-testid="draft"
         name="draft"
         {% on "input.debounce.100" "typing" %}>
  <span data-testid="typed">{{ this.typed }}</span>
  <input data-testid="other" name="other">
  <input data-testid="item" name="item" {% on "keypress.enter" "add" %}>
  <span data-testid="added">{{ this.added }}</span>
  <form data-testid="form" {% on "submit.prevent" "submit" %}>
    <input data-testid="first" name="first">
    <input data-testid="second" name="second">
    <button data-testid="submit">submit</button>
  </form>
  <span data-testid="submitted">{{ this.submitted }}</span>
  <input data-testid="server-set"
         name="server_set_field"
         value="{{ this.server_set }}">
  <button data-testid="set-from-server" {% on "click" "set_from_server" %}>set</button>
  <input data-testid="racing"
         name="racing"
         {% on "input.debounce.50" "type_slowly" %}
         {% on "keypress.enter" "add_after" %}>
  <span data-testid="typed-slowly">{{ this.typed_slowly }}</span>
  <span data-testid="added-after">{{ this.added_after }}</span>
  <input data-testid="child-field"
         name="child_field"
         {% on "keypress.enter" "bump_child" %}>
  {% live_component "ValueChild" id="value-child" label=this.child_label %}
  <input data-testid="pushing"
         name="pushing"
         {% on "keypress.enter" this.add_by_push %}>
  <span data-testid="pushed">{{ this.pushed }}</span>
  <input data-testid="query"
         name="query"
         value="{{ this.query }}"
         {% on "input.debounce.300" "search" %}
         {% on "keydown.key.arrowdown.prevent" "navigate" %}>
  <span data-testid="query-value">{{ this.query }}</span>
  <span data-testid="selected">{{ this.selected }}</span>
</div>
